<a href="https://colab.research.google.com/github/NayloEze/Data-Types-List-and-Sets/blob/main/Hepatitis_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing relevant libraries
import pandas as pd
import numpy as np
import csv

In [2]:
#Uploading the data from the local drive 
from google.colab import files
uploaded = files.upload()

Saving hepatitis_1.csv to hepatitis_1.csv

In [3]:
#reading the data into a dataframe df and printing out the first 5 rows
df = pd.read_csv("hepatitis_1.csv")
df.head()

   age     sex steroid  antivirals  ... albumin protime histology class
0   30    male   False       False  ...     4.0     NaN     False  live
1   50  female   False       False  ...     3.5     NaN     False  live
2   78  female    True       False  ...     4.0     NaN     False  live
3   31  female     NaN        True  ...     4.0    80.0     False  live
4   34  female    True       False  ...     4.0     NaN     False  live

[5 rows x 20 columns]

In [4]:
#shape of the data
print(df.shape)

(155, 20)

In [5]:
#printing out the statistical information of the data
df.describe()

              age   bilirubin  alk_phosphate       sgot     albumin     protime
count  155.000000  149.000000     126.000000  151.00000  139.000000   88.000000
mean    41.200000    1.427517     105.325397   85.89404    3.817266   61.852273
std     12.565878    1.212149      51.508109   89.65089    0.651523   22.875244
min      7.000000    0.300000      26.000000   14.00000    2.100000    0.000000
25%     32.000000    0.700000      74.250000   31.50000    3.400000   46.000000
50%     39.000000    1.000000      85.000000   58.00000    4.000000   61.000000
75%     50.000000    1.500000     132.250000  100.50000    4.200000   76.250000
max     78.000000    8.000000     295.000000  648.00000    6.400000  100.000000

In [6]:
#printing out the general information of the data 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              155 non-null    int64
 1   sex              155 non-null    object
 2   steroid          154 non-null    object
 3   antivirals       155 non-null    bool
 4   fatigue          154 non-null    object
 5   malaise          154 non-null    object
 6   anorexia         154 non-null    object
 7   liver_big        145 non-null    object
 8   liver_firm       144 non-null    object
 9   spleen_palpable  150 non-null    object
 10  spiders          150 non-null    object
 11  ascites          150 non-null    object
 12  varices          150 non-null    object
 13  bilirubin        149 non-null    float64
 14  alk_phosphate    126 non-null    float64
 15  sgot             151 non-null    float64
 16  albumin          139 non-null    float64
 17  protime          88 non-null     float64
 18  histology        155 non-null    bool
 19  class            155 non-null    object
dtypes: bool(2), float64(5), int64(1), object(12)
memory usage: 22.2+ KB

In [7]:
df_missing = df.isnull().sum()
print(df_missing)

age                 0
sex                 0
steroid             1
antivirals          0
fatigue             1
malaise             1
anorexia            1
liver_big          10
liver_firm         11
spleen_palpable     5
spiders             5
ascites             5
varices             5
bilirubin           6
alk_phosphate      29
sgot                4
albumin            16
protime            67
histology           0
class               0
dtype: int64

In [8]:
final_df = df.fillna(method = "bfill")
final_df

     age     sex  steroid  antivirals  ...  albumin  protime  histology  class
0     30    male    False       False  ...      4.0     80.0      False   live
1     50  female    False       False  ...      3.5     80.0      False   live
2     78  female     True       False  ...      4.0     80.0      False   live
3     31  female     True        True  ...      4.0     80.0      False   live
4     34  female     True       False  ...      4.0     75.0      False   live
..   ...     ...      ...         ...  ...      ...      ...        ...    ...
150   46  female     True       False  ...      3.3     50.0       True    die
151   44  female     True       False  ...      4.3     48.0       True   live
152   61  female    False       False  ...      4.1     48.0       True   live
153   53    male    False       False  ...      4.1     48.0       True   live
154   43  female     True       False  ...      3.1     42.0       True    die

[155 rows x 20 columns]

In [9]:
#Renaming column "class" to "end result" as the values contained in the column is dependent on the other variables (columns)
final_df.rename(columns={"class": "end result"}, inplace=True)
final_df.head(10)

   age     sex  steroid  antivirals  ...  albumin  protime  histology  end result
0   30    male    False       False  ...      4.0     80.0      False        live
1   50  female    False       False  ...      3.5     80.0      False        live
2   78  female     True       False  ...      4.0     80.0      False        live
3   31  female     True        True  ...      4.0     80.0      False        live
4   34  female     True       False  ...      4.0     75.0      False        live
5   34  female     True       False  ...      4.0     75.0      False        live
6   51  female    False       False  ...      4.4     85.0      False         die
7   23  female     True       False  ...      4.4     85.0      False        live
8   39  female     True       False  ...      4.4     85.0      False        live
9   30  female     True       False  ...      3.9     85.0      False        live

[10 rows x 20 columns]

In [10]:
#checking for missing values
final_df_missing = final_df.isnull().sum()
print(final_df_missing)

age                0
sex                0
steroid            0
antivirals         0
fatigue            0
malaise            0
anorexia           0
liver_big          0
liver_firm         0
spleen_palpable    0
spiders            0
ascites            0
varices            0
bilirubin          0
alk_phosphate      0
sgot               0
albumin            0
protime            0
histology          0
end result         0
dtype: int64

In [11]:
final_df.describe()

              age   bilirubin  ...     albumin     protime
count  155.000000  155.000000  ...  155.000000  155.000000
mean    41.200000    1.452258  ...    3.823871   61.464516
std     12.565878    1.231214  ...    0.654464   21.432551
min      7.000000    0.300000  ...    2.100000    0.000000
25%     32.000000    0.700000  ...    3.400000   46.000000
50%     39.000000    1.000000  ...    4.000000   62.000000
75%     50.000000    1.500000  ...    4.200000   75.000000
max     78.000000    8.000000  ...    6.400000  100.000000

[8 rows x 6 columns]

**Hepatitis** 


The Data provided and being analyzed was collected on both male and female patients suspected to have Hepatitis. The goal of this assignment is to clean the data and get ot ready for analysis.To start this process, I will be importing the relevant libraries needed to work on this dataframe.


Importing the libraries is the first step and uploading the data comes next. For this assignment, I imported the csv file from my local computer, I find that this method works easily for me when I have the file downloaded.


Once the file has been uploaded,it is ready to be cleaned. To get started, it is important to look at the dataframe at a glance to know and understand what we need to do to clean and why we need to do it. Using the.head(), I will be able to see the contents of the dataframe for the first five rows.


To get a basic understanding of the dataframe, we can do the following:

1. Checking the shape of the data which lets me know the total number of rows and column.

2. Uisng the .describe() which provides the statistical information of the data frame, the count information helps check rows with numerical inputs that are missing.

3. Uisng the .infor() provides the general information on the dataframe.


The next step is to look at the column with missing information and decide whether to fill or delete. The deciding factor is if the column is relevant to the analysis and will have an impact on the data and the concluding result.


For this assignment, I decided to fill the missing columns, and the main reason for doing so was that in reading more about the data set, every column is important as they represent the sex of patient,symptoms,physical examinination, lab test and medication management which are relevant to the end result or status of the patient. It is important to note that, dropping or filling a column will have an impact regardless but for the sake of the intended outcome, filling is a better choice. I also renamed the "Class" column to "End Result" as it provides a clearer message of being dependent on the other variables.


Once the missing values are filled and column name are changed, it is important to check for missing values again to cofirm that the filling was completed.
After confirming, now the Data is cleaned for further analysis.